{% extends 'base.html' %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <h1>{{ post['title'] }}</h1>
        <div class="about">投稿者 {{ post['username'] }} 最終更新日 {{ post['updated'].strftime('%Y-%m-%d %H:%M:%S') }} 投稿日 {{ post['created'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
      </div>
      <a class="action" href="{{ url_for('blog.index') }}">Index</a>
      {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
      {% endif %}
    </header>
    <p class="body">{{ post['body'] }}</p>
  </article>
{% endblock %}